// GALERíA CON TARJETAS DE PRODUCTO


//contenedor flex
.coleccion {
    flex-wrap: wrap;
}


//celda del producto
.tarjeta {
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-basis: 20%;
}

.tarjeta h1,
.tarjeta h2,
.tarjeta h3,
.tarjeta h4,
.tarjeta h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.tarjeta a,
.tarjeta a:visited,
.tarjeta a:hover {
    background: none;
}


//parte con texto: precio etc

.tarjeta .info {
    padding-bottom: 10px;
    padding: 16px;
    text-align: center;
}

//foto en sí que será el enlace
.producto img {
    // object-fit: cover; (prueba)
    display: block;
}

//contenedor de la foto
.tarjeta .producto {
    padding: 0;
    max-width: 100%;
    height: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
}

//enlace en las tarjetas
.coleccion a {
    padding: 0;
    margin: 0;
    background-color: none;
    text-decoration: none;
    transition: all 200ms;
}

//info secundaria
.tarjeta span {
    font-weight: lighter;
    color: $color-gris;
}