//contenedor flex para esta página

.detalle {
    flex-wrap: wrap;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-around;
}

//parte con texto, separación con la sombra etc
.descripcion {
    max-width: 20em;
    background: white;
    box-shadow: 0px 10px 100px $color-sombra;
    padding: 24px;
    z-index: 50;
}

//títulos
.descripcion h1, .descripcion h3 {
    margin: 0px;
}

// info secundaria
.descripcion span {
    color: $color-gris;
    font-size: 150%;
}