// CAMPOS Y BOTONES PARA VARIOS SITIOS
// (incluye el de buscar)

//quería quitar los estilos del navegador para meter los míos

input {
    /* width: 100%; */
    border: none;
    background: none;
}

input:focus, input:active {
    box-shadow: none;
}

input::placeholder {
    color: $color-gris;
    font-weight: lighter;
}

//el buscador no tiene borde y cuando crece con el responsive sí porque estará separado
.barrabusqueda {
    border-style: none;
    border: none;
}

input {
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    border-radius: none!important;
}


.campo {
    border: none;
    height: 48px;
    max-width: 30em;
    background: white;
    padding: 0px 16px;
    margin: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 75%;

}


//estilo general del botón y los efectos de hover etc
.boton {
    height: 48px;
    padding: 4px 16px;
    cursor: pointer;
    margin: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    font-size: 80%;
}

.boton:hover, .boton:focus {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px $color-sombra;
}

.boton:active {
    filter: brightness(80%);
    transform: scale(0.96);
    box-shadow: none;
}



//variación 1
.fondoprincipal {
    background: $color-principal;
    color: white;
    border: none;
}

//variación 2
.fondonegro {
    background: $color-texto;
    color: white;
    border: none;
}

//variación 3
.bordelinea {
    background: none;
    color: $color-principal;
    border-style: none;
    border: 2px solid $color-principal;
}