.logo {
    display: flex;
    justify-content: flex-start;
    color: $color-principal;
    letter-spacing: 5px;
}



nav {
    border-bottom: 2px solid $color-texto;
    background: white;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 32px;
    /* arreglo raro */
}

.navbar a {
    text-decoration: none;
}

.navlinks {
    justify-content: flex-end;
    color: $color-principal;
}

.navlinks a:active {
    color: $color-texto;
}