// CABECERA FIJA CON BARRA DE NAVEGACIÓN
// (los links de cesta, cuenta etc no llevan a ningún sitio)


//logo hecho con texto real y que enlaza al index
.logo {
    display: flex;
    justify-content: flex-start;
    color: $color-principal;
    letter-spacing: 5px;
}


//borde etc
nav {
    border-bottom: 2px solid $color-texto;
    background: white;
    z-index: 100;
}

//layout de los enlaces
.navbar {
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
    /* arreglo para ajustar mejor los iconos */
}


//estilo para estos iconos
.navbar a {
    text-decoration: none;
}

.navlinks {
    justify-content: flex-end;
    color: $color-principal;
}

.navlinks a:active {
    color: $color-texto;
}