<!-- GALERÍA CON 10 PRODUCTOS -->

<div class="coleccion fondoprueba">



    <!-- TARJETA PRODUCTO ////////////////////////////////////////// -->
    <article class="tarjeta">
        <!-- enlace al detalle -->
        <a href="detail.html" class="producto fondopruebas">
            <!-- lo del onerror lo probé porque lo encontré en internet por casualidad -->
            <img class="ancho" src="images/product1.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <!-- nombre y precio -->
        <div class="info">
            <div class="titulo">
                <h3>Damn Son</h3>
            </div>
            <span>30.00 € &nbsp; Camisa</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <!-- Más tarjetas iguales -->

    <article class="tarjeta">
        <a href="detail.html" class="producto fondopruebas">
            <img class="ancho" src="images/product2.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <div class="info">
            <div class="titulo">
                <h3>Escarfa</h3>
            </div>
            <span>25.00 € &nbsp; Bufanda</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <article class="tarjeta">
        <a href="detail.html" class="producto fondopruebas">
            <img class="ancho" src="images/product3.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <div class="info">
            <div class="titulo">
                <h3>Rusaco</h3>
            </div>
            <span>15.00 € &nbsp; Gorro</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <article class="tarjeta">
        <a href="detail.html" class="producto fondopruebas">
            <img class="ancho" src="images/product4.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <div class="info">
            <div class="titulo">
                <h3>García</h3>
            </div>
            <span>20.00 € &nbsp; Sombrero</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <article class="tarjeta">
        <a href="detail.html" class="producto fondopruebas">
            <img class="ancho" src="images/product5.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <div class="info">
            <div class="titulo">
                <h3>Palpié</h3>
            </div>
            <span>50.00 € &nbsp; Botas</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <article class="tarjeta">
        <a href="detail.html" class="producto fondopruebas">
            <img class="ancho" src="images/product6.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
        </a>
        <div class="info">
            <div class="titulo">
                <h3>Rasca</h3>
            </div>
            <span>10.00 € &nbsp; Guantes</span>
        </div>
    </article>
    <!-- ////////////////////////////////////////////////////////// -->

    <!-- ////////////////////////////////////////////////////////// -->

    <article class="tarjeta">
            <a href="detail.html#detalle" class="producto fondopruebas">
                <img class="ancho" src="images/product7.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
            </a>
            <div class="info">
                <div class="titulo">
                    <h3>Jarrison</h3>
                </div>
                <span>25.00 € &nbsp; Camiseta</span>
            </div>
        </article>
        <!-- ////////////////////////////////////////////////////////// -->

        <article class="tarjeta">
            <a href="detail.html" class="producto fondopruebas">
                <img class="ancho" src="images/product8.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
            </a>
            <div class="info">
                <div class="titulo">
                    <h3>Colgón</h3>
                </div>
                <span>20.00 € &nbsp; Collar</span>
            </div>
        </article>
        <!-- ////////////////////////////////////////////////////////// -->

        <article class="tarjeta">
            <a href="detail.html" class="producto fondopruebas">
                <img class="ancho" src="images/product9.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
            </a>
            <div class="info">
                <div class="titulo">
                    <h3>Ejeje</h3>
                </div>
                <span>20.00 € &nbsp; Camiseta</span>
            </div>
        </article>
        <!-- ////////////////////////////////////////////////////////// -->

        <article class="tarjeta">
            <a href="detail.html" class="producto fondopruebas">
                <img class="ancho" src="images/product10.jpg" onerror="this.src='images/noimage.png';this.removeAttribute('onerror');">
            </a>
            <div class="info">
                <div class="titulo">
                    <h3>Denadal</h3>
                </div>
                <span>30.00 € &nbsp; Bañador</span>
            </div>
        </article>
        <!-- ////////////////////////////////////////////////////////// -->



</div>