<!-- DESCRIPCIÓN ETC en el detalle de producto ////////////////////////////////////////// -->

<div class="parrafada centrado descripcion fondopruebas">
    <h1>Damn Son</h1>
    <span>
    30.00 € &nbsp;Camisa
    </span>
    <h4>Sobre el producto</h4>
    <p>
        Where'd you find this? Lorem ipsum <strong>candemore</strong> derat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lorem.  Aenean lacinia <i>bibendum</i> nulla sed consectetur.
    </p>

    <a href="#0" class="textocolor"><strong>Ver más</strong></a>
</div>