<footer class="ancho textocentro padx3 flexcentro">
    <p>
        <strong>© Vístete 2018</strong> &nbsp;
        <!--indicadores para responsive -->
        <p class="ojoresponsive padx1" id="movil"> (móvil) </p>
        <p class="ojoresponsive padx1" id="tablet"> (mediano) </p>
        <p class="ojoresponsive padx1" id="grande"> (grande) </p> 
        <p class="ojoresponsive padx1" id="tocho"> (tocho) </p>  
        <br>
        <a href="#0">About</a>
        <br>
        <a href="#0">FAQ</a>
        <br>
        <br>
 
        <a href="#arriba">
            <strong>Arriba &uarr;</strong>
        </a>

    </p>



</footer>