
<!-- barra de navegación con el logo y los botones de mentira de:
     - usuario
     - bolsa
     - menú (si funcionara, sacaría categorías de la tienda)

-->

<nav class="ancho padx2 fija">
    <div class="navbar fondopruebas">
        <a style="padding: 0px 4px" href="index.html">
            <!-- el style: para 1 pequeño arreglo de posición -->
        <div class="logo fondopruebas padx1 negrita mayusculas">Vístete</div>
    </a>

        <div class="navlinks fondopruebas padx1">
            <a href="#0">&nbsp;<i class="fas fa-user"></i>&nbsp;</a>
            <a href="#0">&nbsp;<i class="fas fa-shopping-bag"></i>&nbsp;</a>
            <a href="#0">&nbsp;<i class="fas fa-bars"></i>&nbsp;</a>
        </div>
    </div>
</nav>