

//animación para todo
* {
    transition: all 300ms;
    transition-delay: 200ms;
    transition-timing-function: ease;
}

//quitar sombrita del focus
*:focus {
    box-shadow: none;
    outline: none;
    scroll-behavior: smooth;
}


//estilos en las etiquetas principales
body {
    font-family: $font-principal;
    color: $color-texto;
    display: flex;
    flex-wrap: wrap;
    color: #333;
    line-height: 1.4;

}

p {
    font-weight: lighter;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 1px;
}




/* LINKS */
//tienen el color de donde estén
//+ un efecto de hover y etc con fondito y reescale

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


a,
a:visited {
    color: inherit;
    padding: 4px 8px;
}

a:hover,
a:focus {
    background: rgba(64, 200,200, 0.2);
    border-radius: 4px;
}

a:active {
    background: rgba(0, 0, 0, 0.1);
        filter: brightness(80%);
        transform: scale(0.96);
        box-shadow: none;
}

a img {
    object-fit: cover;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//como no quería tocar el reset y tal lo he tenido que volver a añadir
strong {
    font-weight: bold;
}

//el aside creo que al final: nada
aside {
    float: right;
}