// Fuente principal

$font-principal: 'Work Sans', Sans-serif;

// Colores base
$color-principal: #3BB;
$color-texto: #333;
$color-casiblanco: #EEE; //al final este ya no lo uso
$color-gris: rgba(0, 0, 0, 0.5);
$color-sombra: rgba(0, 0, 50, .28);
$color-hover: rgba(64, 200,200, 0.2);
$color-activo: rgba(0, 0, 0, 0.1);